.Pomodoro{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.centerColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 50%;
}