.PomodoroCard {
  width: 35rem;
  height: 28rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: var(--sectionShadow);
  padding: 2rem;
  margin-top: 2rem;
  padding: 2rem 3.5rem 2rem 3.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.topSection {
  position: relative;
}

  .PomodoroCard .soundscape {
    position: absolute;
    right: -2rem;
    top: 0;
  }

.centerSection {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .timerButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 1.5rem;
  }

  .timer {
    margin-top: 3rem;
  }

.bottomSection {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
}

  .taskSection {
    background: var(--buttonBgSecondary);
    height: 3.5rem;
    width: 16rem;
    margin-bottom: 3rem;
    border-radius: 1rem;
    text-align: center;
  }
